:root{
--open-sans: 'Open Sans', sans-serif;
--playfair: 'Playfair Display', serif;
--primary-color: #88B44E;
--secondary-color: #252C30;
--accent-color: #DEE2E6;
--white-color: white;
--hover-color: #B8895E;
--theme-bg-color: #F5F5F5;

}


/* loader */
.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(19, 117, 27, 0.462);
    transition: opacity 0.75s, visibility 0.78s;
}

.loader--hiden{
    opacity: 0;
    visibility: hidden;
}

.lodar--none{
    display: none;
}
.loader::after{
    content: '';
    width: 75px;
    height: 75px;
    border: 15px solid #ddd;
    border-top-color: #009578;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
   
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
    
}
/* -/loader */


/* fonts */
.open-sans{
    font-family: var(--open-sans);
}
.playfair{
    font-family: var(--playfair);
}
/* -/fonts */

/* color */
.primary-color{
    color: var(--primary-color);
}
.secondary-color{
    color: var(--secondary-color);
}
.accent-color{
    color: var(--accent-color);
}
.bg-color-accent{
    background-color: var(--accent-color);
}
.white-color{
    color: var(--white-color);
}
.bg-color-white{
    background-color: var(--white-color);
}
/* -/color */


/* loader */
.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(19, 117, 27, 0.7);
    transition: opacity 0.75s, visibility 0.78s;
    z-index: 20;
}
.loader::after{
    content: '';
    width: 75px;
    height: 75px;
    border: 15px solid #ddd;
    border-top-color: #009578;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}
@keyframes loading {
   
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
    
}

.loader--hiden{
    opacity: 0;
    visibility: hidden;
}

.lodar--none{
    display: none;
}
/* -/ loader */

/* comon style */
html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}
.center-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.absolute-fite{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.w-mx-contant{
    width: max-content;
}
.h-mx-contant{
    height: max-content;
}
/* ---- */


.fs-14{
    font-size: 14px;
}
.fs-15{
    font-size: 15px;
}
.fs-16{
    font-size: 16px;
}
.fs-20{
    font-size: 20px;
}
.fs-24{
    font-size: 24px;
}
.fs-26{
    font-size: 26px;
}
.fw-slime{
    font-weight: 500;
}
.fs-head{
    font-size: 3rem;
}

/* -/comon style */



/* body */

/* header */
   
    .logo-img{
        width: 100px;
        height: 80px;
        z-index: 5;
    }
    /* navigation menu designe */

    @media screen and (max-width: 992px){
      
        .menu-itemcontainer{
            left: 0;
            right: 0;
            top: 87px; /*changeable */
            z-index: 1;
        }

        .menu-itemcontainer-hide{
            height: 0;
            overflow: hidden;
        }
        .menus>li>ul, .menus>li>ul>li>ul{
            height: 0;
            overflow: hidden;
        }
        .drop-down-height{
            height: auto !important;
        }
        
    }
        .nav-height{
            height: 100px;
        }
        .drop-icon>a::after{
            content: "▼";
            position: relative;
            font-size: 0.5em;
            margin-left: 0.5rem;
            display: inline-block;
            transition: transform 250ms linear;
           
        }
        .drop-icon-transition>a::after{
            transform: rotate(-180deg);
            
        }
        .menus>li>a:hover, .menus>li> ul>li>a:hover, .menus>li>ul>li>ul>li>a:hover{
            background-color: var(--primary-color);
            color: var(--white-color);
        }
        

        /* navigation menu designe */

        .active-menu{
            color: var(--primary-color);
        }
        nav{
            box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.19);
            
        }
    
/* -/ header */


/* main */
        /* banner */
            .banner{
                min-height: 400px;
                height: 100vh;
            }
            .banar-content{
                backdrop-filter: blur(3px);
            }
            .banner-head{
                font-size: 4.3rem;
                max-width: 490px;
            }

            /* animation */
            li .banner-card .banar-content h2{
                transform: scale(0.5);
                transition-property: transform;
                transition-duration: 0.9s;
            }
            li.is-active.is-visible .banner-card .banar-content h2{
                transform: scale(1);
            }

            li .banner-card .banar-content p{
                transform: translateY(-50px);
                transition-property: transform;
                transition-duration: 0.9s;
            }
            li.is-active.is-visible .banner-card .banar-content p{
                transform: translateY(0);
            }

            li .banner-card .banar-content a{
                transform: translateY(50px);
                transition-property: transform;
                transition-duration: 0.9s;
            }
            li.is-active.is-visible .banner-card .banar-content a{
                transform: translateY(-0px);
            }
            /* -/animation */

        /* -/banner */


        /* about us */
        .tiny-img{
            width: 100%;
            height: 100%;
            max-width: 107px;
            max-height: 133px;
        }
        .larg-img{
            width: 100%;
            height: 100%;
            max-width: 214px;
            max-height: 267px;
        }
        .about-us-head h3,.featured-head h3{
            line-height: 30px;
            font-weight: 600;
            margin-bottom: 16px;
        }
        .about-us-head h2,.featured-head h2{
            font-size: 2.8rem;
            line-height: 34px;
            font-weight: 900;
        }
        .about-us-head::before,.featured-head::before{
            content: '';
            position: absolute;
            width: 50%;
            height: 2px;
            background-color: var(--primary-color);
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        .about-us-head::after,.featured-head::after{
            --round-mejer:20px;
            content: '';
            background-color: var(--secondary-color);
            width: var(--round-mejer);
            height: var(--round-mejer);
            position: absolute;
            bottom: 0;
            border-radius: 12px;
            border: 6px solid var(--white-color);
            left: 50%;
            transform: translate(-100%, 50%);
        }
        .border-bottom{
            border-bottom: 1px solid var(--primary-color);
        }
        .about-artical figure img{
            width: 100%;
            height: 100%;
            max-width: 528px;
            max-height: 352px;
        }
        .about-artical .artical h3{
            line-height: 24px;
            font-weight: 700;
        }
        .about-artical .artical p{
            font-weight: 400;
            line-height: 24px;
        }
        /* -/about us */

        /* our products */
            #ourProduct{
                background-image: url('/assets/product-bg.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
            #ourProduct .top-ourproducts,#onlineStore .top-onlineStore,#testimonial .top-testimonial,#contact-us .top-contact-us{
                padding-bottom: 32px;
            }
            #ourProduct .top-ourproducts::after, #onlineStore .top-onlineStore::after, #testimonial .top-testimonial::after,#contact-us .top-contact-us::after{
                content: '';
                position: absolute;
                width: 50%;
                height: 3px;
                background-color: var(--primary-color);
                bottom: 0;
                transform: translateX(-50%);
            }
            #ourProduct .top-ourproducts::before,#onlineStore .top-onlineStore::before,#testimonial .top-testimonial::before,#contact-us .top-contact-us::before{
                --round-mejer:20px;
                content: '';
                background-color: var(--secondary-color);
                width: var(--round-mejer);
                height: var(--round-mejer);
                position: absolute;
                bottom: 0;
                border-radius: 12px;
                border: 6px solid var(--white-color);
                left: 50%;
                bottom: -8px;
                transform: translate(-50%,);
                z-index: 5;

                animation-name: moving;
                animation-duration: 5s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                animation-direction: alternate;

            }

            @keyframes moving {
                0%   {left: 28%;}
                100% {left: 70%;}
                }
              
            #ourProduct .top-ourproducts h3,#onlineStore .top-onlineStore h3,#testimonial .top-testimonial h3,#contact-us .top-contact-us h3{
                line-height: 30px;
                margin-bottom: 16px;
            }
            #ourProduct .top-ourproducts h2,#onlineStore .top-onlineStore h2,#testimonial .top-testimonial h2,#contact-us .top-contact-us h2{
                font-size: 2.8rem;
                line-height: 34px;
            }
            .carousel-card-container{
                max-width: 415px;
            }
            .carousel-card-container figure{
                max-width: 415px;
                max-height: 276px;
            }
            .carousel-card-container figure img{
                width: 100%;
                height: 100%;
            }
            .artica-content{
                background-color: #FFFFFF;
                max-width: 367px;
                margin-top: -52px;
                z-index: 3;
                position: relative;
                
            }
            .artica-content h3{
                line-height: 29px;
                font-weight: 700;
            }
            .artica-content p{
                line-height: 24px;
                font-weight: 400;
            }

           #ourProduct button.splide__arrow{
                background-color: var(--primary-color);
                padding: 5px;
                width: 40px;
                height: 40px;
            }
           #ourProduct button.splide__arrow svg{
                fill: var(--accent-color);
            }
           #ourProduct button.splide__arrow:hover{
                background-color: var(--accent-color);
            }
           #ourProduct button.splide__arrow:hover svg{
                fill: var(--primary-color);
            }
/* -/our products */

/* featured area */
            .featured img{
                width: 100%;
                height: 100%;
            }
            .featured-btn{
                font-weight: 500;
                background-color: var(--primary-color);
                line-height: 24px;
            }
/* -/featured area */

/* drink of health and beauty */
            #htalthBeauty{
                background-image: linear-gradient(rgba(136, 180, 78, .85), rgba(136, 180, 78, .85)),url('/assets/video-bg.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                
            }
            .health-header{
                font-size: 2.8rem;
                line-height: 33px;
            }
            .shelth-disc{
                line-height: 30px;
                font-weight: 400;
            }
            .featur-btn{
                background-color: var(--accent-color);
            }
            .play-btn{
                width: 50px;
                height: 50px;
                position: relative;
            }
            .play-btn::before{
                content: '';
                background-color: var(--theme-bg-color);
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 100%;
                width: 50px;
                height: 50px;
                position: absolute;
                z-index: 0;
                animation: pulse-border 1500ms ease-out infinite;

            }

            .play-button{
                height: 60vh;
            }

            @keyframes pulse-border {
                0% {
                    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
                    opacity: 1;
                }
            
                100% {
                    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(2);
                    opacity: 0;
                }
            }
/* -/drink of health and beauty */

            /* online store */
            .product-card-cover{
                max-width: 526px;
                max-height: 579px;
            }
            .product-discriptions p{
                font-size: 1.3rem;
            }
            .product-discriptions h3,.product-discriptions h4{
                font-size: 2rem;
            }
            .product-card-overlay{
                background-color: rgba(138, 180, 78, .3);
                opacity: 0;
            }
            .product-card-overlay:hover{
                opacity: 1;
            }
            .more-btn{
                background-color: var(--primary-color);
            }
            .add-btn{
                background-color: var(--secondary-color);
            }
            /* -/ online store */

            /* testy moneyal area */
            #testimonial{
                background-image: linear-gradient(rgba(137, 180, 78, 0.57),rgba(137, 180, 78, 0.57)),url('/assets/testimonial-bg.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }

            .testimonial-splide-lists{
                height: 70vh;
            }

            .testimonial-card{
                width: 515px;
                height: 265px;
                border: 15px solid var(--primary-color);
            }
            .testimonial-card p{
                font-size: 1rem;
            }
            .client-area img{
                width: 80px;
                height: 80px;
                border-radius: 50%;
            }
            .client h5{
                font-size: 1.3rem;
            }
            .digination{
                font-size: 1rem;
            }
            /* -/ testy moneyal area */


            /* contact us */
                .icon{
                    background-color: var(--primary-color);
                    border: 20px solid #f5f8f2;
                    width: 100px;
                    height: 100px;
                }
            /* -/ contact us */

/* -/main */

/* footer */
        .f-title{
            font-size: 1.5rem;
        }
        address p{
            font-size: 0.9rem;
        }
        address p i{
            padding-right: 5px;
        }
        .social-links a{
            background-color: var(--primary-color);
        }
        .copyright-container{
            background-color: #252525;
        }
        .sub-btn{
            background-color: var(--primary-color);
            height: 30px;
            transform: translateX(-50px);
        }
/* -/ footer */

/* -/body */



/* sm */
@media screen and (min-width: 577px){
    .position-sm-static{
        position: static !important;
    }
    .position-sm-relative{
        position: relative !important;
    }
    .position-sm-fixed{
        position: fixed !important;
    }
    .position-sm-absolute{
        position: absolute !important;
    }
    .position-sm-sticky{
        position: sticky !important;
    }

    .center-sm-flex{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    

    html{
        font-size: 70%;
    }
    /* ---- */
 
    /* online store */
    .product-card-cover{
        width: 515px;
        height: 570px;
    }
    /* -/ online store */

    /* footer */
    .sub-btn{
        
        height: 35px;
        transform: translateX(-55px);
    }
    /* -/ footer */
    
}
/* md */
@media screen and (min-width: 769px){
    .position-md-static{
        position: static !important;
    }
    .position-md-relative{
        position: relative !important;
    }
    .position-md-fixed{
        position: fixed !important;
    }
    .position-md-absolute{
        position: absolute !important;
    }
    .position-md-sticky{
        position: sticky !important;
    }

    .center-md-flex{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    html{
        font-size: 77.5%;
    }
/* ---- */

/* our product */
   #ourProduct .splide__arrows{
        position: absolute;
        bottom: -30px;
        left: 50%;
    }
    
   #ourProduct button.splide__arrow.splide__arrow--prev{
        margin-left: -70px;
    }
   #ourProduct button.splide__arrow.splide__arrow--next{
        margin-right: -70px;
    }
/* -/our product */

/* online store */
.product-card-cover{
    width: 335px;
    height: 475px;
}
/* -/ online store */

/* footer */
.sub-btn{
        
    height: 40px;
    transform: translateX(-60px);
}
/* -/ footer */

}

/* lg */
@media screen and (min-width: 993px){
    .position-lg-static{
        position: static !important;
    }
    .position-lg-relative{
        position: relative !important;
    }
    .position-lg-fixed{
        position: fixed !important;
    }
    .position-lg-absolute{
        position: absolute !important;
    }
    .position-lg-sticky{
        position: sticky !important;
    }

    .center-lg-flex{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    html{
        font-size: 85%;
    }
    

    /* ----- */

    /* navigation menu designe */
    #nav-btn{
        display: none;
    }
    .menus{
        z-index: 10;
    }
    .nav-menu{
        /* width: 80%; */
        border-right: 1.5px solid var(--accent-color);
    }
    .menu-itemcontainer{
        width: 100%;
        background-color: transparent;
    }
    .menus>li> ul{
        position: absolute;
        display: none;
    }
    .menus>li:hover> ul{
        display: block;
    }
    .menus>li> ul>li{
        position: relative;
    }
    .menus>li>ul>li>ul{
        position: absolute;
        left: 100%;
        top: 0;
        width: max-content;
        display: none;
    }
    .menus>li>ul>li:hover ul{
        display: block;
    }
    .menus>li>ul>li.drop-icon>a::after{
        transform: rotate(-90deg);
    }
    /* -/navigation menu designe */


    /* about section */
    .about-us-head::before,.featured-head::before{
        left: 0;
        transform: translateX(0);
    }
    .about-us-head::after,.featured-head::after{
        left: 25%;
    }
    /* -/about section */

    /* drink of health and beauty */
    .play-button{
        height: auto;
    }
    /* -/drink of health and beauty */

    /* online store */
    .product-card-cover{
        width: 295px;
        height: 450px;
    }
    /* -/ online store */


    /* footer */
    .sub-btn{
        
        height: 45px;
        transform: translateX(-70px);
    }
    /* -/ footer */
   

}


/* xl */
@media screen and (min-width: 1200px){
    .position-xl-static{
        position: static !important;
    }
    .position-xl-relative{
        position: relative !important;
    }
    .position-xl-fixed{
        position: fixed !important;
    }
    .position-xl-absolute{
        position: absolute !important;
    }
    .position-xl-sticky{
        position: sticky !important;
    }

    .center-xl-flex{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    html{
        font-size: 92.5%;
    }
    /* ---- */
   /* online store */
   .product-card-cover{
    width: 355px;
    height: 470px;
}
   /* -/ online store */


   /* footer */
   .sub-btn{
        
    height: 50px;
    transform: translateX(-75px);
    }
/* -/ footer */


}
/* xxl */
@media screen and (min-width: 1401px){
    .position-xxl-static{
        position: static !important;
    }
    .position-xxl-relative{
        position: relative !important;
    }
    .position-xxl-fixed{
        position: fixed !important;
    }
    .position-xxl-absolute{
        position: absolute !important;
    }
    .position-xxl-sticky{
        position: sticky !important;
    }

    .center-xxl-flex{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    html{
        font-size: 100%;
    }


    /* footer */
   .sub-btn{
    transform: translateX(-80px);
    }
/* -/ footer */
}